<!doctype html>
<html lang="en">

<head>
  <title>MultiFlex</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- Fonts Google -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <!-- Ajax-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>



</head>

<body>
  <!-- bg-dark navbar-dark -->
  <nav class="navbar navbar-expand-sm   fixed-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="img/Logo.svg" alt="logo" width="200px" height="35"">
                </a>
                
                <!-- Links -->
                <ul class=" navbar-nav pl-5">
      <li class="nav-item">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FILMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TV SHOW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACTS</a>
      </li>
      </ul>
  </nav>



  <header class="masthead">
    <div class="overlay"></div>
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="top-line">
            <span>With</span>
            <div class="info-movie-one d-flex">
              <div>
                <div>Jason Stathom</div>
                <div> Rain Wilson</div>
              </div>
              <div class="pl-3">
                <div>114min</div>
                <div>TV-Show</div>
              </div>
            </div>
          </div>


          <h1 class="py-3">The Mandalorian</h1>

          <div class="button-wrapper d-flex">

            <button class="btn-trailer">SHOW TRAILER</button>
            <div class="info-movie-two pl-4">
              <div>HBO</div>
              <div >1S 8 PART</div>
            </div>

          </div>

        </div>
      </div>


    </div>


  </header>

  <!-- Page Content -->
	<section class="py-5">
    <div class="container">
      <h2>Popular Films</h2>
      <div class="movies">
        <div class="movie-card">
          <img src="https://image.tmdb.org/t/p/w400/30YacPAcxpNemhhwX0PVUl9pVA3.jpg">
          <a href="#">
            <h3 class="movie-title">Spies in Disguise</h3>
          </a>
          <div class="info">
            <p title=""> 117MIN | ADVENTURE</p>
          </div>
          <div class="footer">
            <p>
              <svg viewBox="0 0 511.998 511.998" xmlns="http://www.w3.org/2000/svg"><path d="m414.168 500.62-158.169-83.155-158.169 83.155 30.207-176.121-128.037-124.735 176.86-25.689 79.139-162.697 79.139 162.697 176.86 25.689-128.037 124.734z"></path></svg>
              <span>7.3</span>
            </p>
            <span>2019-12-24</span>
          </div>
        </div>
      </div>
    </div>



    
    


  </section>



  <script src="js/script.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>